{
  "extends": "../../tsconfig.base.json",
  "compilerOptions": {
    "jsx": "react-jsx",
    "types": ["vite/client"]
  },
  "references": [
    {
      "path": "./tsconfig.lib.json"
    }
  ],
  "include": ["src/**/*.ts", "src/**/*.tsx", "codegen.ts"]
}
