{
  "extends": "../../tsconfig.base.json",
  "compilerOptions": {
    "jsx": "react-jsx",
    "types": ["vite/client"],
    "outDir": "../../dist/out-tsc"
  },
  "include": [
    ".storybook/**/*.ts",
    ".storybook/**/*.tsx"
  ]
}
