{
  "extends": "../../tsconfig.base.json",
  "compilerOptions": {
    "jsx": "react-jsx",
    "types": ["vite/client"],
    "outDir": "../../dist/out-tsc"
  },
  "references": [
    { "path": "./tsconfig.lib.json" }
  ],
  "include": ["src/**/*.ts", "src/**/*.tsx"]
}
