COMPOSE_PROJECT_NAME=stack_local
ENV=local

DIRECTUS_HOSTNAME=cms.stack.localhost
NEXTJS_HOSTNAME=localhost
DRAFT_PREVIEW_SECRET=<TOBEREPLACED>

# database and directus
DB_USER=postgres
DB_PASSWORD=<TOBEREPLACED>
DB_DATABASE=stack

# directus
MAX_RELATIONAL_DEPTH=20
MAX_PAYLOAD_SIZE=10mb
FLOWS_ENV_ALLOW_LIST=PUBLIC_URL,FRONTEND_URL,PREVIEW_SECRET,REVALIDATE_URL
DIRECTUS_KEY=<TOBEREPLACED>
DIRECTUS_SECRET=<TOBEREPLACED>
PUBLIC_URL=https://${DIRECTUS_HOSTNAME}
FRONTEND_URL=http://${NEXTJS_HOSTNAME}:3000
DIRECTUS_ADMIN_EMAIL=devops@okam.ca
DIRECTUS_ADMIN_PASSWORD="<TOBEREPLACED>"
PM2_INSTANCES=1
FLOWS_ENV_ALLOW_LIST=PUBLIC_URL,FRONTEND_URL,PREVIEW_SECRET,REVALIDATE_URL
DIRECTUS_FRONTEND_URL=https://${DIRECTUS_HOSTNAME}
REVALIDATE_URL=
PREVIEW_SECRET=${DRAFT_PREVIEW_SECRET}
DRAFT_SECRET=${DRAFT_PREVIEW_SECRET}
REVALIDATE_SECRET=${DRAFT_PREVIEW_SECRET}
CORS_ENABLED=true
CORS_ORIGIN=true
CACHE_AUTO_PURGE=true
CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC="array:'self',https://*,http://*"
TZ=America/Toronto
