/* eslint-disable @typescript-eslint/naming-convention */
import type { BlockSettingsFragment } from '../../generated/graphql'

export type <%= type %> = {
  __typename?: '<%= snakeName %>'
  id?: Nullable<string>
  settings?:
    | ({ __typename?: 'block_settings' } & { ' $fragmentRefs'?: { BlockSettingsFragment: BlockSettingsFragment } })
    | null
} & { ' $fragmentName'?: '<%= type %>' }
