import { createEnv } from '@t3-oss/env-nextjs'
<% if (includeDirectus === 'true') { -%>
import { z } from 'zod'
<% } -%>

export const env = createEnv({
  server: {
<% if (includeDirectus === 'true') { -%>
    NEXT_SERVER_GRAPHQL_URL: z.string().url(),
    API_SECRET: z.string().min(1).optional(),
<% } -%>
  },

  client: {
<% if (includeDirectus === 'true') { -%>
    NEXT_PUBLIC_API_TOKEN: z.string().min(1),
    NEXT_PUBLIC_IMG_DOMAIN: z.string().min(1),
<% } -%>
  },

  runtimeEnv: {
<% if (includeDirectus === 'true') { -%>
    NEXT_SERVER_GRAPHQL_URL: process.env.NEXT_SERVER_GRAPHQL_URL,
    API_SECRET: process.env.API_SECRET,
    NEXT_PUBLIC_API_TOKEN: process.env.NEXT_PUBLIC_API_TOKEN,
    NEXT_PUBLIC_IMG_DOMAIN: process.env.NEXT_PUBLIC_IMG_DOMAIN,
<% } -%>
  },

  skipValidation:
    process.env.SKIP_ENV_VALIDATION === 'true'
    || process.env.STORYBOOK === 'true'
    || process.env.NODE_ENV === 'test',
})
